/* =========================
Components Extends
========================= */

%heading_padding {
  padding-top: 1.6em;
  padding-bottom: 1.6em;
}

%bold {
  font-weight: bold;
}

%centered {
  margin: 0 auto;
}
