/* =========================
Variables
========================= */

//Color variables

$white            : #fff;
$black            : #000;
$mountain-meadow  : #16a085;
$cerulean         : #088DD3;
$wild-sand        : #f6f6f6;
$apple-blossom    : #AC5043;
$cape-cod         : #434e4e;

//Fonts

$font-main        : Lato, sans-serif;
$bigger-text      : 1.2em;
$smaller-text     : 1em;

//Border radius

$img-br : 4px;

//Vertical element spacing

$space-beneath : 1em;

//Media query variables

$tablet-width  : 768px;
$desktop-width : 1024px;
